body {
  background-color: lightblue;
}
h1 {
    color: #333;
    font-size: 36px;           /* Sets the font size */
    font-family: Arial, sans-serif;  /* Sets the font family */
    text-align: center;        /* Centers the text */
    text-transform: uppercase; /* Converts the text to uppercase */
    letter-spacing: 2px;       /* Adds space between the letters */
    margin-top: 20px;          /* Adds space above the heading */
    margin-bottom: 20px;       /* Adds space below the heading */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}